@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
    string activeClass = string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz... Gelen id: @ViewBag.Id </h1>

</div>
<div class="row p-2">
    @foreach (var product in Model.Products)
    {
        @if (count != 0  && count % 4 == 0)
        {
            @:</div>
            @:<div class="row">
        }

        <div class="col-3 p-2">
          <partial name="_ProductCard" model="product"/>
        </div>


        count++;

    }
</div>

<nav aria-label="...">
  <ul class="pagination pagination-lg">
  @*   <li class="page-item active" >
      <a class="page-link" aria-current="page">1</a>
    </li> *@

   @for (int pageNo = 1; pageNo <= Model.PagingInfo.TotalPages; pageNo++)
    {

      <li class="page-item @(pageNo == Model.PagingInfo.CurrentPage ? "active":string.Empty)" ><a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@pageNo">@pageNo</a></li>
    }
    
    
  </ul>
</nav>

@section Scripts{
    
     <script>
         $(document).ready(function(){
             $('.basket').on('click',function(){
                 console.log("tıklandı");
                 var id = $(this).data('id');
                 //ajax: asnyc js and xml 
                 $.ajax({
                     url:'/Shopping/AddToCard/' + id,
                     type:'GET',
                     success:function(data){
                         console.log(data);
                     },
                     error:function(err){
                        // console.log(err);
                         console.log("gelen hata kodu",err.status);
                         if(err.status === 401){
                             alert('Giriş yapmadan sepeti kullanamazsınız');
                         }
                     }
                 });
                 console.log(id);
             });
         });
     </script>
}

